.tab{
	width: 300px;
}
.tab .tab-nav{
	height: 30px;
}
.tab .tab-nav li{
	float: left;
	margin-right: 5px;
	border-radius:4px 4px 0 0;
	background-color: #767676;
}
.tab .tab-nav li a{
	display: block;
	height: 30px;
	line-height: 30px;
	padding: 0 20px;
	text-decoration: none;
	color: #fff;
}
.tab .tab-nav li.actived{
	background: #fff;
}
.tab .tab-nav li.actived a{
	color: #333;
}
.tab .content-wrap{
	height: 200px;
	background: #fff;
	padding: 5px;
}
.tab .content-wrap .content-item{
	height: 200px; display: none;
}
.tab .content-wrap .content-item.current{
	display: block;
}
.tab .content-wrap .content-item img{
	width: 100%;
}